.ipynb_checkpoints/
__pycache__/
.vscode/
notes/data/datasets/
projects/facial_keypoint_detection/data/
projects/facial_keypoint_detection/saved_models/
projects/image_captioning/data/
projects/image_captioning/saved_models/
projects/image_captioning/opt/
projects/image_captioning/training_log.txt
projects/image_captioning/image_captioning.zip
