.ipynb_checkpoints/
notes/.ipynb_checkpoints/
projects/.ipynb_checkpoints/
notes/data/datasets/
.vscode/
projects/facial_keypoint_detection/__pycache__/
projects/facial_keypoint_detection/data/
projects/facial_keypoint_detection/saved_models/
