opencv-python>=3.2.0.6
matplotlib>=2.1.1
pandas>=0.22.0
numpy>=1.12.1
pillow>=6.2.2
scipy>=1.0.0
torch>=0.4.0            #If Error try: conda install -c pytorch pytorch
torchvision>=0.2.0      #If Error try: conda install -c pytorch torchvision
cython>=0.29.17         #If Error try: conda install -c anaconda cython
pycocotools>=2.0        #If Error try: conda install -c conda-forge pycocotools
scikit-image>=0.17.1